.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
}

.header__left{
    display: flex;
    align-items: center;
    color:white;
}

.header__left>h3{
    margin-left:30px;
    font-size: 14px;
}

.header__center{
    color:gray;
    display: flex;
    align-items: center;
    flex:1;
    width:60%;
    margin-left:50px;
    border-radius: 5px;
    background-color: lightgray;
    padding:5px;
    max-width: 500px;
}
.header__center>input{
    border:none;
    outline: 0;
    background-color: lightgray;
}

.header__center>input:focus{
    border:none;
    outline: 0;
    width: 100%;
}

.header__center>.MuiSvgIcon-root{
    font-size: 16px !important;
}

.header__right{
    display: flex;
    align-items: center;
    color:white;

}

.header__left>svg{
    font-size: 20px;
    margin-left: 10px;
}

.header__right>svg{
    font-size: 20px;
    margin-left: 10px;
}